<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geeeky.linqr">
    <!-- Permission for camera -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/small_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/small_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinQR">
        <activity
            android:name=".Other_Details"
            android:exported="true" />
        <activity
            android:name=".Scan_Gallery"
            android:exported="true" />
        <activity
            android:name=".About_us"
            android:exported="true" />
        <activity
            android:name=".ResultDisplay"
            android:exported="true" />
        <activity
            android:name=".Scanner"
            android:exported="true" />
        <activity
            android:name=".GenerateQR"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>